body {
  font-family: Arial;
  text-align: center;
  background: #f9fafb;
}
.item {
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
button {
  padding: 10px;
  background: #10B981;
  color: #fff;
  border: none;
  border-radius: 8px;
}
input {
  width: 90%;
  padding: 10px;
  margin: 5px;
}
